*
{
	margin: 0;
	padding: 0;
}
body
{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Playfair Display', serif;

}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/front.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.row:after
{   
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}
.row
{
	max-width: 1186px;
	margin: 0 auto;
}

/*-------Navigation------*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 30px;
	width: 100px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #e1ad01!important;
}
.navbar
{
	background: #fff;
	color:black;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*----Slider---*/
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}
/*-----About-----*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content
{
	padding-top: 20px;
}
#IndianCuisine
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/indian.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#IndianCuisine h1
{
	text-align: center;
	color: #efefef;
	padding-bottom: 10px;
}
#ChineseCuisine
{
	padding-top:50px;
	padding-bottom: 50px;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/chinese.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#ChineseCuisine h1
{
	text-align: center;
	color: #efefef;
	padding-bottom: 10px;
}
#ItalianCuisine
{
	padding-top:50px;
	padding-bottom: 50px;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/italian.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#ItalianCuisine h1
{
	text-align: center;
	color: #efefef;
	padding-bottom: 10px;
}
#contact
{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
#contact h2
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}
#contact h2::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.contact-form
{
	padding: 15px;
}
.form-control
{
	border-radius: 0 !important;
	border: none !important;
}
::placeholder
{
	color: #999 !important;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}
.contact-info .fa
{
	margin:10px;
	color: #007bff;
	font-weight: bold;
}
@keyframes colorchangehead
{
	0%{color:yellow;}
	25%{color:#e1ad01 ;}
	50%{color:white;}
	100%{color:#e1ad01;}
}
.mobile-icon{display: none;}
@media only screen and (max-width:1180px)
{
   .main-content{
		width: 100%;
		padding: 0 2%;
	}
}
@media only screen and (max-width:998px)
{
	h1{font-size: 200px;}
}

@media only screen and (max-width:768px)
{
	h1{
		font-size: 180%;
	  }
	h2
	{
		font-size: 180%;
	}
	.main-nav{display:none;}
	.mobile-icon{
		display: inline-block;
		color:white;
		float:right;
		margin-top: 30px;
		margin-right: 20px;
	}

    .main-nav li
    {   
    	display: block;
    	margin-top: 10px;
    }

}
@media only screen and (max-width:480px)
{
	.around-btn1{
		margin-bottom: 20px;
	}
	h1{font-size: 160%;}

}

